<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl | prepend: site.url }}/"> <i class="fa fa-cubes"></i>
        {% assign name = site.name | split: ' ' %}
        <strong>{{ name | first }}</strong> {{ name | last }}
    </a>

    <nav class="site-nav">

      <div class="topnav" id="myTopnav">
        <!-- About -->
        <a class="page-link" href="{{ site.baseurl | prepend: site.url }}/">Home</a>
        <a class="page-link" href="{{ '/research/' | prepend: site.baseurl | prepend: site.url }}">Research</a>
        <a class="page-link" href="{{ '/members/' | prepend: site.baseurl | prepend: site.url }}">Members</a>
        <a class="page-link" href="{{ '/publications/' | prepend: site.baseurl | prepend: site.url }}">Publications</a>
        <a class="page-link" href="{{ '/teaching/' | prepend: site.baseurl | prepend: site.url }}">Teaching</a>

        <!-- Pages -->
<!--         {% for page in site.pages %}
          {% if page.title and page.url != "/" %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title | capitalize }}</a>
          {% endif %}
        {% endfor %} -->

        <!-- Blog -->
        <a class="page-link" href="{{ '/blog/' | prepend: site.baseurl | prepend: site.url }}">Blog</a>

        <!-- CV link -->
        <!-- <a class="page-link" href="{{ '/assets/pdf/CV.pdf' | prepend: site.baseurl | prepend: site.url }}">vitae</a> -->
        <a class="page-link icon" href="javascript:void(0);" onclick="collapseNavbar()">&#9776;</a>

      </div>
    </nav>

  </div>

</header>
